.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Font families */
.font-manrope {
    font-family: 'Manrope', sans-serif;
}
